In [ ]:
!pip insttal pytorch

# Bibliotecas

In [57]:
from transformers import TFAutoModel
import pandas as pd
import re

In [62]:
nlp = spacy.load('en_core_web_sm')
tokenizer = AutoTokenizer.from_pretrained("bert-base-uncased")  # ou "bert-base-cased"
model = TFAutoModel.from_pretrained("bert-base-uncased")  # ou "bert-base-cased"

tokenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

C:\Users\pc\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:142: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\pc\.cache\huggingface\hub\models--bert-base-uncased. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

config.json:   0%|          | 0.00/570 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

tokenizer.json:   0%|          | 0.00/466k [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/440M [00:00<?, ?B/s]

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBertModel: ['cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias']
- This IS expected if you are initializing TFBertModel from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBertModel from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
All the weights of TFBertModel were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertModel for predictions without further training.

# Carregando os dados

In [4]:
train = pd.read_csv('Corona_NLP_train.csv', encoding='latin-1')

In [5]:
test = pd.read_csv('Corona_NLP_test.csv')

# Chamando funções

In [66]:
%run funcoes.ipynb

# Exploração

In [23]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [24]:
train.shape

(41157, 6)

In [25]:
test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [26]:
test.shape

(3798, 6)

# Pré-processamento

## Aplicando funções de pré-processamento

### Limpando texto

In [38]:
train['OriginalTweet'] = train['OriginalTweet'].apply(limpa_texto)

In [39]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil_gahan chrisitv and and,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elder...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the covid...,Extremely Negative

In [40]:
test['OriginalTweet'] = test['OriginalTweet'].apply(limpa_texto)

### Lemmatization

In [54]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lemmatization)

In [60]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbiir phil_gahan chrisitv and and,Neutral
1,3800,48752,UK,16-03-2020,advice talk to Your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia Woolworths to give elder...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is Not the only one Which is emp...,Positive
4,3803,48755,NaN,16-03-2020,eu Ready to go at supermarket during the covid...,Extremely Negative

In [55]:
test['OriginalTweet'] = test['OriginalTweet'].apply(lemmatization)

In [61]:
test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,trending New Yorkers encounter empty supermark...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When i couldnt find hand sanitizer at Fred Mey...,Positive
2,3,44955,NaN,02-03-2020,find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,panic buying hit newyorkr cityr o anxious Shop...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,toiletpaper dunnypaper coronavirus Coronavirus...,Neutral

### Embedding

In [68]:
train['OriginalTweet'] = train['OriginalTweet'].apply(embedding)

ImportError: Unable to convert output to PyTorch tensors format, PyTorch is not installed.