# Bibliotecas

In [50]:
import pandas as pd
import re

In [46]:
nlp = spacy.load('pt_core_news_sm')

# Carregando os dados

In [4]:
train = pd.read_csv('Corona_NLP_train.csv', encoding='latin-1')

In [5]:
test = pd.read_csv('Corona_NLP_test.csv')

# Chamando funções

In [52]:
%run funcoes.ipynb

# Exploração

In [23]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [24]:
train.shape

(41157, 6)

In [25]:
test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [26]:
test.shape

(3798, 6)

# Pré-processamento

## Aplicando funções de pré-processamento

### Limpando texto

In [38]:
train['OriginalTweet'] = train['OriginalTweet'].apply(limpa_texto)

In [39]:
train.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,menyrbie phil_gahan chrisitv and and,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elder...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,me ready to go at supermarket during the covid...,Extremely Negative

In [40]:
test['OriginalTweet'] = test['OriginalTweet'].apply(limpa_texto)

### Lemmatization

In [ ]:
train['OriginalTweet'] = train['OriginalTweet'].apply(lemmatization)

In [ ]:
test['OriginalTweet'] = test['OriginalTweet'].apply(lemmatization)